.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient( #8fbabc,  #568d8f );
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.label {
    -fx-font-size: 17px;
    -fx-text-fill: #304f50;
}
.text-field{
    -fx-font-size: 14px;
    -fx-text-fill: #304f50;
}
.table-row-cell:selected {
    -fx-background-color: #80b2b3 ;

}
.table-row-cell:selected .text {
    -fx-fill: #ffffff;
}
#anchor{
    -fx-background-color: linear-gradient( 	 #a3c2c2, #c2c2a3);
}

/*#anchor{*/
/*    -fx-background-color: linear-gradient( #e6f2ff,#80bfff);*/
/*}*/
#stateTxt{
    -fx-font-size: 14px;
    -fx-text-fill: #304f50;
}